@model IEnumerable<Manual_Identity.Models.JoinModel>
@{
    ViewData["Title"] = "Joins";
    Layout = "~/Views/Shared/SideNavBar.cshtml";
}

<main class="main-content  mt-0">
    <div class="card-body px-0 pb-2">
        <div class="table-responsive p-0">
            <table class="table align-items-center mb-0">
                <thead>
                    <tr>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Student Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Father Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Course Id</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Course Name</th>
                        <th class="text-uppercase text-secondary text-xxs font-weight-bolder opacity-7 ps-2">Details</th>
@*                        <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Address</th>
                     <th class="text-center text-uppercase text-secondary text-xxs font-weight-bolder opacity-7">Actions</th>
*@                       </tr>
                </thead>
                                
                @foreach (var item in Model)
                {
                    <tr>
                        <td>
                            <div class="d-flex px-2 py-1">
                              
                                <div class="d-flex flex-column justify-content-center">
                                    <p class="text-xs text-secondary font-weight-bold mb-0">@item.Students_details.StudentName</p>
                                </div>
                            </div>
                        </td>
                         <td>
                            <p class="text-xs font-weight-bold mb-0">@item.Students_details.FatherName</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">@item.Courses_details.CourseId</p>
                        </td>
                        <td>
                            <p class="text-xs font-weight-bold mb-0">@item.Courses_details.Name</p>
                        </td> 
                        <td>
                            <p class="text-xs font-weight-bold mb-0">@item.Courses_details.Details</p>
                        </td>

                    </tr>
                    <tr>
                        <td>
                    </tr>
                }
            </table>
        </div>
    </div>
