@model Manual_Identity.Models.RegisterViewModel;
@{
    ViewData["Title"] = "Detail";
}
<h1>Details</h1>
<hr />
<form>
<div class="row">    
        <table class="table table-hover">
            <tr>
                <th col-md-5>
                    <label asp-for="FirstName"></label>
                </th>
                <td col-md-6> @Model.FirstName</td>
            </tr>

            <tr>
                <th col-md-5>
                    <label asp-for="LastName"></label>
                </th>
                <td col-md-6> @Model.LastName</td>
            </tr> 
            <tr>
                <th col-md-5>
                    <label asp-for="UserName"></label>
                </th>
                <td col-md-6> @Model.UserName</td>
            </tr>
            <tr>
                <th col-md-5>
                    <label asp-for="Gender"></label>
                </th>
                <td col-md-6> @Model.Gender</td>
            </tr>
            <tr>
                <th col-md-5>
                    <label asp-for="Email"></label>
                </th>
                <td col-md-6> @Model.Email</td>
            </tr>
            <tr>
                <th col-md-5>
                    <label ">Image</label>
                </th>
                <td col-md-7>
                    <img id="imgPreview" src="@Url.Content("~/image")/@Model.ImgPath" alt="pic" style=" style="height: 300px; width: 100%;" />
                </td>
            </tr>
        </table>
        <form method="get">
        <button type="submit" style="margin-left:auto"  class="btn btn-primary col-md-1" asp-controller="Account" asp-action="UsersList" >Back</button>
        </form>
       @* <button style="margin-left:auto" class="btn btn-primary col-md-1">
            <a  style="text-decoration:none;color:white" asp-controller="Account" asp-action="UsersList"  >Back</a>
            </button>*@

    </div>
    </form>














@*
    <div class="form-group">
    <label asp-for="FirstName" class="control-label"></label>
    <input asp-for="FirstName" class="form-control" autocomplete="off" />
    <span asp-validation-for="FirstName" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="LastName" class="control-label"></label>
    <input asp-for="LastName" class="form-control" />
    <span asp-validation-for="LastName" class="text-danger"></span>
    </div>
    <div class="form-group">
    <label asp-for="Gender" class="control-label"></label>
    <input asp-for="Gender" class="form-control" />
    <span asp-validation-for="Gender" class="text-danger"></span>
    </div>
    <div class="form-floating pt-2  mb-2 custom-file ">

    <input type="file" name="imge" class="form-control custom-file-input"/>
    </div>


    <div class="form-group">
    <input type="submit" value="UPDATE" class="btn btn-primary" />
    <a asp-controller="Account" asp-action="UsersList" class="btn btn-primary">Cancel</a>
    </div>
    </form>
    </div>
    </div>

    <div>
    <a asp-action="Index">Back to List</a>
    </div>*@

@section Scripts {
    @{
    await Html.RenderPartialAsync("_ValidationScriptsPartial");
}
}
