@*@model IEnumerable<Manual_Identity.Models.RegisterViewModel>*@
@model IEnumerable<Manual_Identity.Models.ApplicationUser>
@{
    ViewData["Title"] = "UsersList";
}

<h1 style="text-align:center">UsersList</h1>


<table class="table table-hover">
    <tr>
        <th>Sr No</th>
        <th>FirstName</th>
        <th>LastName</th>
        <th>Email</th>
        <th>Action</th>
    </tr>   
@{
    int rowNo = 1;
}
    @foreach (var item in Model)
    {
        <tr>
            <td> <p>@rowNo</p>  </td>
            <td>@item.FirstName</td>
            <td>@item.LastName</td>
            <td>@item.Email</td>

            <td>
                <form method="get">
                  <button type="submit" class="btn btn-danger" asp-controller="Account" asp-action="Edit" asp-route-id="@item.Id">Edit</button>
                  <button type="submit" class="btn btn-danger" asp-controller="Account" asp-action="Detail" asp-route-id="@item.Id">Detail</button>
                 <button type="submit" class="btn btn-danger " asp-controller="Account" asp-action="Delete" asp-route-id="@item.Id" onclick="return confirm('Are you want to delete')">Delete</button>
            </form>
                  </td>
            @{rowNo++; }
        </tr>           
    }
</table>